// Specific CSS for your home-page
.main-logo img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.main-logo {
  display: flex;
  justify-content: center;
  margin: 15px;
}

// Hero Banner
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  width: 80%;
  height: 500px;
  margin: auto;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

// Cards
.nav-card {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.home-card {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  width: 434px;
  height: 500px;
  margin: 10px;
}
