.footer {
  background: #ABC4A1;
  height: 300px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  bottom: 0;
  width: 100%;
  margin-top: 75px;
}
.info-container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.info-container h3 {
  color: #333333;
}
.footer-links {
  display: flex;
  padding-top: 30px;
}
.footer-links a {
  color: #333333;
  opacity: 0.15;
  text-decoration: none;
  font-size: 35px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
.footer-info li {
  list-style-type: none;
  color: #333333;
  opacity: 0.15;
}
.footer-info li:hover {
  opacity: 1;
}
.footer-copyright {
  color: #333333;
  opacity: 0.30;
  display: flex;
  justify-content: flex-end;
}
.link-container {
  text-align: center;
}
